@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    /* Your dark theme colors */
    background-color: #000;
    color: #fff;
  }
}

body {
    background-color: black !important;
    overflow: hidden;
}

.artboard.phone-custom {
    width: 95vw;
    height: 95vh;
    margin: auto;
}

.artboard.phone-custom.horizontal,
.artboard.phone-custom.artboard-horizontal {
    width: 100%;
    height: 100%;
    margin: auto;
}

.logo-text {
    color: #969696; /* Dark gray */
    text-align: center;
    z-index: 98;
    transform: skew(-5deg, -5deg) rotate(5deg);
    transform-origin: center center;
    user-select: none;
    text-shadow: 
        1px 1px #222,  /* Slightly darker gray */
        2px 2px #1f1f1f,
        3px 3px #1b1b1b,
        4px 4px #171717,
        5px 5px #131313,
        6px 6px #0f0f0f,
        7px 7px #0b0b0b,
        8px 8px #080808,
        9px 9px #050505,
        10px 10px #030303,
        11px 11px 15px #000; /* True black for the last shadow */
}
